* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 50px;
  margin-top: 30px;
  box-shadow: rgba(19, 19, 199, 0.2) 0px 7px 29px 0px;
}

.container h1,
.container form {
  padding: 30px 0;
}

.container form input[type="text"] {
  margin: 10px 0;
  padding: 15px 20px;
  width: 100%;
  outline: none;
  border: 1px solid #082871;
  border-radius: 20px;
  display: inline-block;
  font-size: 20px;
}

.container form input[type="text"]:focus {
  border: 1px solid #7e95e7;
}

.container form button,
.container a.btn {
  padding: 15px 50px;
  margin: 10px;
  width: auto;
  background: #082871;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  border-radius: 20px;
  transition: background 0.5s ease-in-out;
  font-size: 20px;
}

.container form button:hover,
.container a.btn:hover {
  background: #7e95e7;
}
